<header class="cabecalho">

  <div class="conteudo-cabecalho">

    <a
      routerLink="/inicio"
      class="logo"
      (click)="fecharMenu()"
    >
      <img
        src="/logo.png"
        alt="SaúdeAcesso"
      />
    </a>

    <nav class="navegacao">

      <a
        routerLink="/resultados"
        (click)="fecharMenu()"
      >
        Para Pacientes
      </a>

      @if (ehClinica()) {

        <a
          routerLink="/painel-clinica"
          (click)="fecharMenu()"
        >
          Para Clínicas
        </a>

      } @else {

        <a
          routerLink="/para-clinicas"
          (click)="fecharMenu()"
        >
          Para Clínicas
        </a>

      }

      <a
        routerLink="/como-funciona"
        (click)="fecharMenu()"
      >
        Como Funciona
      </a>

      <a
        routerLink="/ajuda"
        (click)="fecharMenu()"
      >
        Ajuda
      </a>

    </nav>

    @if (usuarioAtual()) {

      <div class="area-usuario">

        <button
          type="button"
          class="botao-perfil"
          (click)="alternarMenu()"
        >
          <span class="avatar">
            {{ iniciaisUsuario() }}
          </span>

          <span class="nome-usuario">
            {{ nomeUsuario() }}
          </span>

          <span class="seta">
            ▾
          </span>
        </button>

        @if (menuAberto()) {

          <div class="menu-usuario">

            <div class="cabecalho-menu">

              <span class="avatar avatar-menu">
                {{ iniciaisUsuario() }}
              </span>

              <div>
                <strong>
                  {{ nomeUsuario() }}
                </strong>

                <small>
                  {{ emailUsuario() }}
                </small>
              </div>

            </div>

            <div class="separador"></div>

            <a
              routerLink="/inicio"
              (click)="fecharMenu()"
            >
              Início
            </a>

            @if (ehPaciente()) {

              <a
                routerLink="/perfil"
                (click)="fecharMenu()"
              >
                Meu perfil
              </a>

            }

            @if (ehClinica()) {

              <a
                routerLink="/painel-clinica"
                (click)="fecharMenu()"
              >
                Painel da clínica
              </a>

              <a
                routerLink="/configuracoes"
                (click)="fecharMenu()"
              >
                Configurações
              </a>

            }

            <a
              routerLink="/privacidade"
              (click)="fecharMenu()"
            >
              Privacidade
            </a>

            <div class="separador"></div>

            <button
              type="button"
              class="botao-sair"
              (click)="sair()"
            >
              Sair
            </button>

          </div>

        }

      </div>

    } @else {

      <div class="acoes-cabecalho">

        <a
          routerLink="/entrar"
          class="botao-entrar"
          (click)="fecharMenu()"
        >
          Entrar
        </a>

        <a
          routerLink="/entrar"
          [queryParams]="{ modo: 'cadastrar' }"
          class="botao-cadastrar"
          (click)="fecharMenu()"
        >
          Cadastrar
        </a>

      </div>

    }

  </div>

</header>